@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

* {
    box-sizing: border-box;
}
body {
	font-family: 'Poppins', 'Arial', sans-serif;
	min-width: 320px;
}

.header-container {
	background-image: url("../image/pricing_banner_header.png");
	background-repeat:  no-repeat;
	background-size: cover;
    background-position: center;
    min-height: 507px;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 20px 60px;
}
.header-top .logo {
	margin: 0px;
}
.navbar-toggler.nav-square {
	background-color: transparent;
}
.bg-light.navcol {
	background-color: transparent!important;
}
.navbar-light .navbar-nav .nav-link.active.navlist {
	color: #7492ec;;
	font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins - Semi Bold', 'Poppins', 'Arial', sans-serif;
    opacity: 1;
    text-transform: capitalize;
}
.navbar-light .navbar-nav .nav-link.navlist {
	color: #7492ec;
	font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins - Semi Bold', 'Poppins', 'Arial', sans-serif;
    opacity: 0.8;
    text-transform: capitalize;
}
.navbar-light .navbar-nav .nav-link.navlist:hover {
	color: #7492ec;
	opacity: 1;
}
.navbar-light .navbar-nav .nav-link.button {
	border-radius: 80px;
	background-color: #7492ec;
	padding: 8px 26px;
	text-transform: uppercase;
	color: white;
	font-size: 12px;
	opacity: 1;
}
.navbar-light .navbar-nav .nav-link.button:hover {
	color: white;
	transform: scale(0.9);
	transition: .3s;
}
.header-text {    
    max-width: 1170px;
    margin: 0 auto;
}
.header-text h2 {
	font-size: 72px;
	color: #4c77eb;
	font-weight: 300;
	text-transform: capitalize;
    opacity: 0.8;
    margin-top: 150px;
    margin-bottom: 14px;
}
.header-text p {
    color: #99aade;
    font-family: "Lato", 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 381px;
    margin-bottom: 78px;
}

.price {
    max-width: 1170px;
    margin: 0 auto;
}
.price-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 60px 150px 120px;
	grid-column-gap: 30px;
	padding-top: 150px;
	padding-bottom: 136px;
}
.price-container-price1,
.price-container-price2,
.price-container-price3,
.price-container-price4 {
	border-bottom: solid #eeeeee 1px;
}
.price-container-price {
	color: #7492ec;
	font-family: "Lato", 'Arial', sans-serif;
	font-size: 36px;
	font-weight: 400;
}
.price-container-price span {
	color: #999999;
	font-family: "Lato", 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
}
.price-container-text-h {
	color: #7492ec;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 41px;
}
.price-container-text-p {
	color: #666666;
	font-family: "Lato", 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.price-container-text1,
.price-container-text2,
.price-container-text3,
.price-container-text4 {
	border-bottom: solid #eeeeee 1px;
}
.price-container-button {
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	background-color: #7492ec;
	border-radius: 80px;
	max-width: 140px;
	padding: 11px;
	margin-top: 43px;
	display: block;
}
.price-container-button:hover {
	color: white;
	transform: scale(0.9);
	transition: .3s;
	text-decoration: none;
}
.challenge {
	background-image: url('../image/bannerpricing.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 681px;
	padding-top: 170px;
}
.challenge-container {
	max-width: 1170px;
	margin: 0 auto;
}
.challenge-container-text h3 {
	color: #7492ec;
	font-size: 48px;
	font-weight: 300;
	text-transform: capitalize;
	margin-bottom: 12px;
}
.challenge-container-text p {
	color: #8ea2dc;
	font-family: "Lato", 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	max-width: 437px;
	margin-bottom: 35px;
}
.challenge-container-button {
	text-align: center;
	border-radius: 80px;
	background-color: #7492ec;
	max-width: 213px;
	padding: 8px;
}
.challenge-container-button a {
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}
.challenge-container-button:hover {
	transform: scale(0.9);
	transition: .3s;
}




.footer-top {
	background-color: #181818;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
	position: relative;
}
.footer-top-container {
	max-width: 1170px;
	margin: 0 auto;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 111px;
	background-image: url("../image/line.png");
	background-repeat: no-repeat;
	background-position: 270px 0px;
}
.footer-container-logo {
	grid-column: 1;
	grid-row: 1;
}
.footer-container-logo figure {
	margin: 0px;
}
.footer-container-subscribe {
	grid-column: 2;
	grid-row: 1;
	margin-left: 23px;
}
.footer-container-subscribe h3 {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.footer-container-subscribe p {
	color: #bbbbbb;
	font-family: "Lato", 'Arial', sans-serif;
	font-size: 13px;
	font-style: italic;
	margin: 0px;
}
.footer-container-form {
	grid-column: 3 / span 4;
	grid-row: 1;
	justify-self: end;
}
.footer-container-form-mail {
	position: relative;
}
.footer-container-form-mail-input input {
	border-radius: 80px;
	border-color: #333333;
	background-color: #333333;
	padding: 13px;
	color: #bbbbbb;
	font-family: "Lato", 'Arial', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	width: 410px;
	outline: none;
	border-style: solid;
}
.footer-container-title-button {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	width: auto;
	background-color: #7492ec;
	border-radius: 80px;
    padding: 15px 20px;
    text-align: center;
}
.footer-container-title-button a {
	padding: 20px;
	width: 140px;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}
.footer-middle {
	background-color: #222222;
}
.footer-middle-container {
	max-width: 1170px;
	margin: 0 auto;
	display: grid;
	align-items: start;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 335px;
}
.footer-container-contact {
	grid-column: 1;
	grid-row: 1;
}
.footer-container-contact-title {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 20px;
	margin-top: 60px;
}
.footer-container-contact-text {
	color: #bbbbbb;
	font-family: "Lato", 'Arial', sans-serif;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 20px;
}
.footer-container-contact-icons a {
	color: #ffffff;
	margin-top: 15px;
	transition: .4s linear;
	position: relative; 
	margin-right: 10px;
	width: 30px;
	height: 30px;
	display: inline-block;
}
.footer-container-contact-icons a::before, .footer-container-contact-icons a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: -9px;
	top: -3px;
	transition: .4s linear;
}
.footer-container-contact-icons a:hover {
	transform: scale(.8);
}
.footer-container-contact-icons a:hover::before {
	border-left: 1px solid;
	border-right: 1px solid;
	transform: skewX(20deg);
}
.footer-container-contact-icons a:hover::after {
	border-top: 1px solid;
	border-bottom: 1px solid;
	transform: skewY(-20deg);
}
.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g,
.fa-pinterest-p {
	font-size: 12px;
}
.footer-container-links {
	grid-column: 2;
	grid-row: 1;
	margin-left: 23px;
}
.footer-container-links p {
	margin-bottom: 0px;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.footer-container-time {
	grid-column: 3;
	grid-row: 1;
	margin-right: 60px;
}
.footer-container-time-column {
	display: flex;
	justify-content: space-between;
}
.footer-container-time-column p {
	margin-bottom: 15px;
}
.footer-container-time-column2 p::before {
	content: ">";
	padding-right: 30px;
} 
.footer-container-location {
	grid-column: 4;
	grid-row: 1;
}
.footer-container-location div {
	position: relative;
}
.footer-container-location img {
	width: 100%;
	height: auto;
}
.fa-map-marker-alt {
	color: #7492ec;
	font-size: 24px;
	position: absolute;
	top: 45%;
	left: 50%;
}
.footer-down-container {
	background-color: #181818;
}
.footer-down-container-logolinks {
	max-width: 1170px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.nav-footer-logo p {
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0px;
}
span.footer-heart::before  {
	content: url('../image/heart.png');
	padding-left: 5px;
	padding-right: 5px;
} 
.nav-footer-link .nav-link {
	color: #999999;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	opacity: 0.7;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-footer-link .nav-link:first-child {
	padding-left: 0px;
}
.nav-footer-link a.nav-link:hover {
	color: #999999;
	opacity: 1;
}



@media only all and (max-width: 1200px) {
	.header-text {
		font-size: 65px;
		right: 215px;
		line-height: 80px;
		padding-left: 30px;
	}
    .price-container {
		padding: 150px 10px 136px 10px;
	}
	.challenge {
		padding-top: 130px;
		padding-left: 20px;
		min-height: 580px;
	}

    


	.footer-top-container {
		padding-right: 10px;
		padding-left: 10px;
	}
	.footer-middle-container {
		padding-right: 10px;
		padding-left: 10px;
	}
	.footer-top-container {
		background-position: 250px 0px;
	}
	.footer-container-time {
		margin-right: 50px;
	}
	.nav-footer-logo p {
		padding-left: 10px;
	}
}

@media only all and (max-width: 992px){
	.navdirection .navbar-nav .nav-link.button {
		display: none;
	}
	.header-top {
        padding: 20px 15px;
    }
	.header-text {
		font-size: 55px;
		right: 150px;
		line-height: 60px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.header-text h2 {
		margin-top: 100px;
	}
    .challenge {
		padding-top: 100px;
		min-height: 500px;
	}



	.footer-top-container {
		background-position: 180px 0px;
	}
	.footer-container-subscribe {
		margin-left: 0px;
	}
	.footer-container-contact-text {
		font-size: 11px;
	}
	.footer-container-time-column2 p::before {
		padding-right: 5px;
	}
	.footer-container-form-mail-input input {
		width: 350px;
	}
}

@media only all and (max-width: 768px){
	.header-container {
		min-height: 700px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.nav-link.button {
        display: none;
    }
	.header-text h2 {
		font-size: 50px;
		margin-top: 80px;
	}
	.header-text p {
		margin-bottom: 0px;
	}
	.price-container {
		grid-template-columns: 1fr 1fr;
		padding: 0px 10px 50px 10px;
	}
	.price-container-price1, 
	.price-container-price2,
	.price-container-text1,
	.price-container-text2,
	.price-container-button1,
	.price-container-button2 {
		order: 1;
	}
    .price-container-price3, 
	.price-container-price4,
	.price-container-text3,
	.price-container-text4,
	.price-container-button3,
	.price-container-button4 {
		order: 2;
	}
	.price-container-price3,
	.price-container-price4 {
		margin-top: 30px;
	}
	.price-container-price1,
	.price-container-price2 {
		align-self: end;
	}
	.challenge {
		padding-top: 60px;
		padding-left: 10px;
		min-height: 400px;
	}
	.challenge-container-text h3 {
		font-size: 30px;
	}


    
	.footer-top-container {
		background-position: 100px 0px;
	}
	.footer-container-form-mail-input input {
		max-width: 270px;
	}
	.footer-middle-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.footer-container-time {
		grid-column: 1;
		grid-row: 2;
	}
	.footer-container-time-column {
		justify-content: flex-start;
	}
	.footer-container-time-column p {
		padding-right: 8px;
	}
	.footer-container-location {
		grid-column: 2;
		grid-row: 2;
	}
	.footer-container-contact-title {
		margin-top: 10px;
	}	
	.nav-footer-link {
		display: none;
	}
}
	


@media only all and (max-width: 575px){
	.header-container {
		min-height: 500px;
	}
	.header-top .logo {
        display: none;
    }
    .nav-link.navlist {
        background-color: #eff6ff;
        border-radius: 5%;
        padding: 20px;
    }
	.header-text {
		font-size: 30px;
		right: 30px;
		line-height: 50px;
	}
	.header-text h2 {
		font-size: 40px;
		margin-top: 50px;
	}
    .price-container-price {
		font-size: 20px;
	}
    .price-container-text-p {
		font-size: 13px;
	}
	.challenge {
		padding-top: 25px;
		min-height: 280px;
	}
	.challenge-container-text h3 {
		font-size: 23px;
	}
	.challenge-container-text p {
		max-width: 280px;
		margin-bottom: 35px;
	}



	.footer-top-container {
		background-image: none;
		grid-template-columns: 90px 1fr;
		grid-template-rows: 1fr 1fr;
    }
	.footer-container-form {
		grid-column: 1 / span 2;
		grid-row: 2;
		justify-self: start;
	}
	.footer-middle-container {
		display: flex;
		flex-direction: column;
	}
	.footer-container-contact-title {
		margin-top: 17px;
	}
	.footer-container-links {
        margin-left: 0px; 
	}
	.footer-container-time {	
		margin: 0px;
	}
}